{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "extends": ["leap"],
  "env": { "es2017": true },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-restricted-properties": "off",
    "no-console": "warn"
  }
}
